<!-- Footer -->
<footer class="bg-light text-center ">
  <!-- Grid container -->
  <!-- <div class="container p-4"> -->
  <!-- Grid container -->
  <!-- Section: Form -->
  <!-- <section class="">
        <form action="">
            <div class="row d-flex justify-content-center">
                <div class="col-auto">
                    <p class="pt-2">
                        <strong>Sign up for our newsletter</strong>
                    </p>
                </div>
                <div class="col-md-5 col-12">
                    <div class="form-outline mb-4">
                        <input type="email" id="form5Example2" class="form-control" />
                        <label class="form-label" for="form5Example2">Email address</label>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-4">
                        Subscribe
                    </button>
                </div>
            </div>
        </form>
    </section> -->
  <!-- </div> -->

  <!-- Copyright -->
  <div class="p-3" style="background-color: rgba(0, 0, 0, 0.1)">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="d-flex justify-content-start" style="width: 50%">
            <a class="text-dark" href="https://jusense.org/">
              <img src="https://jusense-web.s3.amazonaws.com/assets/logo.png" style="max-width: 100%;" />
            </a>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-end">
          <!-- <div class=""> -->
          <p>
            © 2022 Copyright:
            <a class="text-dark" href="https://jusense.org/">JUSense</a>
          </p>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->