<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />


<!-- Primary Meta Tags -->
<title>JUSense - Jadavpur University</title>
<link rel="icon" type="image/x-icon" href="../img/favicon.ico">
<meta name="title" content="JUSense - Jadavpur University">
<meta name="description" content="Utilising state-of-the-art artificial intelligence for societal benefits. We focus on basic and advanced research in a multitude of areas including IoT-Cloud, Social Network Analysis and GeoInformatics. Our research focuses on using computer algorithms, machine learning, deep learning and data science to understand the complex multi-modal (sensor, image, audio, text, etc.) data collected by us.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://jusense.org/">
<meta property="og:title" content="JUSense - Jadavpur University">
<meta property="og:description" content="Utilising state-of-the-art artificial intelligence for societal benefits. We focus on basic and advanced research in a multitude of areas including IoT-Cloud, Social Network Analysis and GeoInformatics. Our research focuses on using computer algorithms, machine learning, deep learning and data science to understand the complex multi-modal (sensor, image, audio, text, etc.) data collected by us.">
<meta property="og:image" content="https://jusense-web.s3.amazonaws.com/assets/JUSense+Logo+(1200+%C3%97+628+px).png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://jusense.org/">
<meta property="twitter:title" content="JUSense - Jadavpur University">
<meta property="twitter:description" content="Utilising state-of-the-art artificial intelligence for societal benefits. We focus on basic and advanced research in a multitude of areas including IoT-Cloud, Social Network Analysis and GeoInformatics. Our research focuses on using computer algorithms, machine learning, deep learning and data science to understand the complex multi-modal (sensor, image, audio, text, etc.) data collected by us.">
<meta property="twitter:image" content="https://jusense-web.s3.amazonaws.com/assets/JUSense+Logo+(1200+%C3%97+628+px).png">


<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
<!-- Academicons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
<!-- Google Fonts Roboto -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" />
<!-- MDB -->
<link rel="stylesheet" href="/css/mdb.min.css" />
<!-- Custom styles -->
<link rel="stylesheet" href="/css/style.css" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CWB7Z4EH0L"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-CWB7Z4EH0L');
</script>