a, a:visited, a:hover, a:active {
    color: inherit;
}

/* Carousel styling */
#introCarousel, .carousel-inner, .carousel-item, .carousel-item.active {
    height: 100vh;
}

.carousel-item:nth-child(1) {
    background-image: url('../img/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(2) {
    background-image: url('../img/masks.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(3) {
    background-image: url('../img/Jadavpur_University_Gate_No._4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #introCarousel {
        margin-top: -58.59px;
    }
}

.navbar .nav-link {
    color: #fff !important;
}

.nav-item {
    /* padding-right: 20px; */
    padding-left: 20px;
}