<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <!--Main Navigation-->
  <header>
    <!-- Navbar -->
    <%- include('../partials/navbar'); %>
    <!-- Navbar -->


    <!-- Background image -->
    <div class="p-5 text-center bg-image" style="background-image: url('./img/bg1.jpg'); height: 250px; margin-bottom: 50px;">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.4);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">News</h1>
            <h4 class="mb-3">Latest from JUSense</h4>
            <!-- <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->


  </header>

  <!--Main layout-->
  <main class="my-5">
    <div class="container">

      <!--Section: Content-->
      <section>
        <!-- Post -->
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>

          <div class="col-md-8 mb-4">
            <h5>Very long post title</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ratione
              necessitatibus itaque error alias repellendus nemo reiciendis aperiam quisquam
              minus ipsam reprehenderit commodi ducimus, in dicta aliquam eveniet dignissimos
              magni.
            </p>

            <em>
              <p class="text-muted">Sarbani Roy</p>
            </em>

            <p class="text-muted">3 Oct, 2018</p>

            <button type="button" class="btn btn-primary">Read</button>
          </div>
        </div>

        <!-- Post -->
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/standard/nature/002.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>

          <div class="col-md-8 mb-4">
            <h5>Very long post title</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ratione
              necessitatibus itaque error alias repellendus nemo reiciendis aperiam quisquam
              minus ipsam reprehenderit commodi ducimus, in dicta aliquam eveniet dignissimos
              magni.
            </p>

            <em>
              <p class="text-muted">Sarbani Roy</p>
            </em>

            <p class="text-muted">3 Oct, 2018</p>

            <button type="button" class="btn btn-primary">Read</button>
          </div>
        </div>

        <!-- Post -->
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>

          <div class="col-md-8 mb-4">
            <h5>Very long post title</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ratione
              necessitatibus itaque error alias repellendus nemo reiciendis aperiam quisquam
              minus ipsam reprehenderit commodi ducimus, in dicta aliquam eveniet dignissimos
              magni.
            </p>

            <em>
              <p class="text-muted">Sarbani Roy</p>
            </em>

            <p class="text-muted">3 Oct, 2018</p>

            <button type="button" class="btn btn-primary">Read</button>
          </div>
        </div>

        <!-- Post -->
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>

          <div class="col-md-8 mb-4">
            <h5>Very long post title</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ratione
              necessitatibus itaque error alias repellendus nemo reiciendis aperiam quisquam
              minus ipsam reprehenderit commodi ducimus, in dicta aliquam eveniet dignissimos
              magni.
            </p>

            <em>
              <p class="text-muted">Sarbani Roy</p>
            </em>

            <p class="text-muted">3 Oct, 2018</p>

            <button type="button" class="btn btn-primary">Read</button>
          </div>
        </div>
      </section>
      <!--Section: Content-->



      <!-- Pagination -->
      <nav class="my-4" aria-label="...">
        <ul class="pagination pagination-circle justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </main>
  <!--Main layout-->


  </div>
  </main>
  <!--Main layout-->

  <!-- Footer -->
  <%- include('../partials/navbar'); %>
  <!-- Footer -->

  <!-- MDB -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Custom scripts -->
  <!-- <script type="text/javascript" src="js/script.js"></script> -->
</body>

</html>